<% content_for :javascript_includes do %>
  <%= javascript_include_tag "restaurants2.js" %>
<% end %>
<div class="container">
  <%= render "formNewEdit" , form_name: params[:action].capitalize %>
</div>
