/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 h1, ul, li {
   margin: 0;
   padding: 0;
 }

 .container-head {
   display: block;
   position: relative;

   background-color: #394FB7;
 }

 .menu-nav {
   position: absolute;
   bottom: -34px;
   width: 100%;
   padding: 0 25px 0 10px;
   color: #fff;
   background-color: #2C3DA1;
 }

 .logo-link {
   color: #fff;
   &:hover {
     background-color: #fff;
     color: #23527c;
   }
 }

 .menu-option {
   color: #fff;
 }

 .headline {
   //padding: 5%;
   font-family: Georgia, Cambria, Times, "Times New Roman";
   font-size: 5vw;
   color: #fff;
   text-align: center;
 }

 .container-main {
   margin-top: 34px;
   padding: 20px;
 }
 .alert {
   display: block;
   padding: 20px;
   margin-bottom: 20px;
   width: 100%;
   font-size: 17px;
   border-radius: 10px;
   &:before {
     font-size: 20px;
   }
 }

 .success {
   background-color: #E9FFD9;
   border-color: #59834C;
   color: #59834C;
   &:before {
     color: #59834C;
   }
 }

 .error {
   background-color: #FFECEC;
   border-color: #AB544F;
   color: #AB544F;
   &:before {
     color: #AB544F;
   }
 }

 .notice {
   background-color: #DCEDF6;
   border-color: #5088AB;
   color: #5088AB;
   &:before {
     color: #5088AB;
   }
 }

 .page-title {
     text-transform: uppercase;
     padding: 10px 0 20px;
 }
