// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form_dish {
  position: relative;
  left: 32%;
}

.list-group-item{
  width: 400px;
  margin-top: 20px;
}

#select_dish , #dish_restaurant_id{
  width: 400px;
  height: 32px;
  margin-top: 8px;
}

.img_dish {
  width: 258px;
  position: relative;
  left: 30px;
}

.menu_dish{
  margin-top: 8px;
}

.panel-heading{
background-color: #313f54;
border-color: #fff;
}
