// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  html, body {
    height: 50%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
